doctype html
html
    head
        link(href="/css/topnav.css" rel="stylesheet")
        link(href="/css/profile.css" rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet")
    body
        .topnav
            a.openNav(style='cursor:pointer; margin-left: 350px;')
                span.material-icons(onclick='openNav()') keyboard_arrow_down
            |         
            a.active(href='/')
                span.material-icons home
            a(href='/logout', style='float:right; margin-right: 350px;')
                span.material-icons login
            |
            a(href=href=`/profile/${session.username}`, style='float:right;')
                span.material-icons account_circle
            |         
            a(href='/movies', style='float:right;')
                span.material-icons playlist_play
            |         
            a(href='/searchPage', style='float:right;')
                span.material-icons search
        #page.container
            #header
                img(src=movie.Poster)
                #logo                    
                    h3 ID:
                    a #{movie._id}
                    h3 Year:
                    a #{movie.Year}
                    h3 Rated:
                    a #{movie.Rated}
                    h3 Released:
                    a #{movie.Released}
                    h3 Runtime:
                    a #{movie.Runtime}
                if session.loggedin
                    form.inputBox(method='post', action='/addWatchList')                                
                        input(type='submit', value='Add watchList')
                    br
                    form.inputBox(method='post', action='/removeWatchList')                                
                        input(type='submit', value='Remove')
                    br
                    #logo    
                        a(href='/movies/' + movie._id + '/addReview')  Add Review
            #main
                #welcome
                    .title
                        h2 #{movie.Title}
                    h2 Plot:
                    p #{movie.Plot}
                    h2 Awards:
                    p #{movie.Awards}
                    h2 Released:
                    p #{movie.Released}
                #featured
                    .title
                        span.byline Genre:
                    ul.style1
                        li
                            each g in movie.Genre
                                tr
                                    P #{g}
                                    br                    
                #featured
                    .title
                        span.byline Director:
                    ul.style1
                        li
                            each d in movie.Director 
                                tr
                                    P #{d}
                                    br
                #featured
                    .title
                        span.byline Writer:
                    ul.style1
                        li
                            each w in movie.Writer 
                                tr
                                    P #{w}
                                    br
                #featured
                    .title
                        span.byline Actors:
                    ul.style1
                        li
                            each a in movie.Actors   
                                tr
                                    P #{a}
                                    br
                #featured
                    .title
                        span.byline Reviews:
                    ul.style1
                        li
                            each r in movie.review   
                                tr
                                    a(href='/other/' + r.writer) Writer: #{r.writer}
                                    p Score: #{r.score}
                                    p Summary: #{r.summary}
                                    p Brief Review: #{r.briefReview}
                                    br
                #featured
                    .title
                        span.byline Similar movies:
                    ul.style1
                        li
                            each recommand in recommands 
                                a(href='/movies/' + recommand._id)  #{recommand.Title}
                                    br                               
        script(src="/js/client.js")
        include ../views/partials/footer